.navbar .correct {
  animation: .3s correct;
}

.navbar .incorrect {
  animation: .3s incorrect;
}

@keyframes correct {
  0% {
    color: white;
  }
 100% {
    color: blue;

  }
}

@keyframes incorrect {
  0% {
    color: white;
  }

  100% {
    color:red;
  }
}
